@page "/Pages/CustomPages/Legal"

<style>
    .important{
        font-weight:    bold;
        font-style:     italic;
    }
    .header{
        font-weight:    bold;
        font-size:      x-large;
        
    }
    .legalMainContainer{
        padding:        4%;
        margin:         2%;
        min-width:      max(600px, 30%);
        max-width:      min(700px, 90%);
        max-height:     90%;
    }

</style>



<MudCard Class="legalMainContainer">
    <MudCardHeader Class="header">
        Disclaimer
    </MudCardHeader>
    <MudDivider/>
    <br/>
    <MudText>The contents of this website, including but not limited to the images, graphics and name "Vennato's Pizza," are intended solely for demonstration
        purposes. All images used on this website have been sourced from free-to-use image websites, and I do not claim any legal ownership over them. Any
        resemblance to actual persons, entities, or establishments is purely coincidental and not intended. This website is solely intended to 
        showcase my ability to develop a demonstration web application.
    </MudText>
        <br/>
    <MudText>The term "Vennato's Pizza" is used in this context as a fictional name and does not represent any real-life business or entity. To the best
        of my knowledge, "Vennato's Pizza is not copyrighted, trademarked, or associated with any existing business or entity.
    </MudText>
        <br/>
    <MudText>
        For any questions or concerns regarding the content or usage of this website, please contact me on my 
        <MudLink Href="https://github.com/snynkm/snynkm/blob/main/README.md" Color="Color.Info">LinkedIn</MudLink>
        
        or 
        <MudLink Href="https://www.linkedin.com/in/sean-kim-222576120/" Color="Color.Info">GitHub</MudLink>
        
        page. Thank you for visiting 
        this demo application.
    </MudText>

    <br/>
    <p><b><i>Important:</i></b> all images on this domain were pulled from free-to-use photo sharing websites and a link with
        references is included below.
    </p>
</MudCard>




@code {

}
